body {
    margin: 0;
    border: 1px solid palevioletred;
    background-color: black;
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
}

a {
    color: #9c9c9c;
    text-decoration: none;
    border-bottom: 2px solid #333;
    transition: all 0.3s ease;
}
a:hover {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

.projectDiv {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc(100vw / 20);
}
.socialDiv{
    position: fixed;
    bottom: 5px;
    right: 5px;
}